﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
    <meta charset="utf-8" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    
    <header>
		<section class="header_date">
			<asp:Label ID="DateLabel" runat="server"></asp:Label>
			<asp:Image ID="DayImage" runat="server"/>
		</section>
		<h1>Guitar Match</h1>
		<section class="header_top">				
		<img src="Images/logo.png" width="110"/>
		</section>
			
		<nav class="main_nav">   	
			<a href="Default.aspx">Home</a>
			<a href="Backstage.aspx"   ID="Secret" runat="server">Q&A (For registered only!)</a>
			<a href="Fender.aspx">Fender Guitars</a>
			<a href="Gibson.aspx">Gibson Guitars</a>
			<a href="PRS.aspx">PRS</a>
			<a class="login_logout" ID="LoginLogout" runat="server"></a>		

		</nav>
	</header>
		
	<section class="center">
		<aside>
				<h2>Want to transform your guitar's tone? Pedals are where the real magic happens.</h2>
			<p>Adds a gritty, crunchy, and powerful rock sound to your guitar.</p>
<img src="Images/Delay.png" width="100">
			<p>Creates a cool echo effect, repeating the notes you play over and over.</p>
<img src="Images/Wah.png" width="100">
			<p>A foot-controlled pedal that makes your guitar literally sound like it’s saying 'wah-wah'.</p>
<img src="Images/Chorus.png" width="100">
			<p>Makes a single guitar sound like a whole group of guitars playing together.</p>
<img src="Images/Dist.png" width="100">
			<p>Gives your guitar sound space and depth, making it feel like you're playing in a huge concert hall.</p>
<img src="Images/Reverb.png" width="100">
		</aside>
			
		<main>
			<asp:ContentPlaceHolder id="ContentPlaceHolderMain" runat="server">
			</asp:ContentPlaceHolder>
		</main>
	</section>
			
	<footer>
    <asp:ContentPlaceHolder id="ContentPlaceHolderFooter" runat="server">
        </asp:ContentPlaceHolder>
</footer>
	<asp:ContentPlaceHolder id="ContentPlaceHolderScript" runat="server">
    </asp:ContentPlaceHolder>

</body>
</html>
